<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259499610831-3s93f96sbr8ub8fj1ofco7fjtp2ntev9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259499610831-3s93f96sbr8ub8fj1ofco7fjtp2ntev9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259499610831-46vdnu77f835qctgmoi03ppblut9crk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB38Kr0em1y7Ch3DrxDpYv_2nWGDu1vbAo</string>
	<key>GCM_SENDER_ID</key>
	<string>259499610831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.kross.mykross.development</string>
	<key>PROJECT_ID</key>
	<string>mykross-a2eea</string>
	<key>STORAGE_BUCKET</key>
	<string>mykross-a2eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259499610831:ios:2a65a4c9087fd0dadd9dba</string>
</dict>
</plist>