<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>mykross</string>
			<key>CFBundleURLName</key>
			<string>pl.kross.mykross</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(DEEPLINKING_NAMESPACE)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>This app needs to get your NFC reader to read bike frame nr from NFC stickers.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The location allows constant access to the geolocation of the device for the purpose of recording user activity in the application.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The location allows constant access to the geolocation of the device for the purpose of recording user activity in the application.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Recording a trip</key>
		<string>Allow myKROSS app to track location with high accuracy</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Displaying a list of service points and Kross partner stores in the vicinity of the user. Locations displayed on the map.</string>
	<key>NSMotionUsageDescription</key>
	<string>The accelerometer reduces battery consumption when using the device's location in the application.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to add to route description.</string>
	<key>UIAppFonts</key>
	<array>
		<string>mykross.otf</string>
		<string>DIN2014Narrow-Light.otf</string>
		<string>DIN2014Narrow-Regular.otf</string>
		<string>DIN2014Narrow-Bold.otf</string>
		<string>DIN2014-Bold.ttf</string>
		<string>DIN2014-Demi.otf</string>
		<string>DIN2014-Demi.ttf</string>
		<string>DIN2014-Demi.woff</string>
		<string>DIN2014-Demi.woff2</string>
		<string>DIN2014-Regular.otf</string>
		<string>DIN2014-Regular.ttf</string>
		<string>DIN2014-Regular.woff</string>
		<string>DIN2014-Regular.woff2</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
